@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  #profile,
  .section-container {
    display: block;
  }
  .section__profile-container {
    margin-top: -70px;
    align-self: center;
  }
  .social_container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .icon {
    cursor: pointer;
    height: 40px;
    margin-top: 10px;
  }
  .arrow {
    display: none;
  }

  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 40px;
    height: 40px;
    margin: 0 auto 2rem;
  }
  #about,
  .section-container {
    display: block;
    margin-top: 100px;
  }

  .section__pic-container {
    height: fit-content;
    width: fit-content;
    margin-top: -200px;
  }
  .text-container {
    margin-top: 160px;
  }
  .about-pic {
    width: 336px;
    height: 345px;
    margin-top: -50px;
    align-self: center;
  }
  #experience,
  .experience-container {
    display: block;
  }
  #skill,
  .skill-container {
    display: inline-block;
    justify-content: space-around;
  }

  .skill-details {
    margin-top: 30px;
    margin-left: 7px;
  }
  #project,
  .experience-container {
    display: block;
  }
  */ #contact,
  .section-container {
    display: block;
  }
  .contact-container {
    margin-top: -40px;
  }

  .text-input {
    width: 300px;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    border-radius: 15px;
    color: rgb(53, 53, 53);
    border-color: rgb(85, 85, 85);
    font-family: "Poppins";
    border: 1px solid rgb(85, 85, 85);
  }

  .text-area {
    width: 300px;
    height: 75px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    color: rgb(53, 53, 53);
    font-family: "Poppins";
    border: 1px solid rgb(85, 85, 85);
  }
  .submit-button {
    width: 270px;
    height: 60px;
    border-radius: 20px;
    font-family: "Poppins";
    font-size: 20px;
    margin-bottom: 20px;
  }
  footer {
    display: none;
  }

  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }

  .company-icon {
    height: 20px;
  }
  .contact-text {
    font-size: 14px;
  }
  .form-main-container {
    margin-left: 0px;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .social_container {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .icon {
    margin-top: 10px;
    margin-left: 0;
    /* Reset margin-left for centering in a column */
  }

  .btn-container {
    flex-direction: column;
    text-align: center;
  }

  .btn {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .project-container {
    margin: 0 auto; /* Center the project container */
    width: 80%; /* Adjust the width as needed */
    margin-top: 30px;
  }

  .project-icon {
    width: 100%; /* Make the image responsive within its container */
    height: auto; /* Maintain aspect ratio */
  }
}
